

.container{
    display: grid;
    grid-template-columns: [first] 25%  [line2]25% [line3]25% [line4]25% [end];
    grid-template-rows: 25% auto 25%;
    grid-template-areas: 
      "header header header header"
      "farLeft cookieLeft cookieRight farRight"
      "footer footer footer footer";
      font-family: 'Julee', cursive;
      
 
}


.title{
    grid-area: header;
    justify-content: center;
    text-align: center;
    font-size: 5em;
}

.leftCookieOpen{
      
  
    margin-top: 50%;
    height: 100px;
    width: 50px;
    grid-area: farLeft;
    justify-self: end;

}

.rightCookieOpen{
    
    
    margin-top: 50%;
    width: 50px;
    height: 100px;
    grid-area: farRight;
    justify-content: end;
   
}


.leftCookieClosed{
  
  
    margin-top: 50%;
    height: auto;
    width: 100px;
    grid-area: cookieLeft;
    justify-self: end;
    display: flex;
  
   
   
   

}

.rightCookieClosed{
    
    
    margin-top: 56.5%;
    height: auto;
    width: 100px;
    grid-area: cookieRight ;
    justify-content: start;
    display: flex;
  
    
    

}

.footer{
    grid-area: footer;
    justify-content: center;
    text-align: center;
    margin-top: 50%;
}

.fortune{
    z-index: -5;
    grid-column-start: line2;
    grid-column-end: line4;
    text-align: center;
    margin-top: 200px;


} 

img{
    width:100px;
    height: auto;
    
}

